<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <footer class="container mt-5">
    <div class="row">
      <div class="col-sm-3">
        <h2 class="font-weight-bold">
          Fashion
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt cilisis.
        </p>
      </div>
      <div class="col-sm-3">
        <h2>
          Quick Links
        </h2>
        <ul class="list-group">
          <li class="list-group-item"><a href ="#">Home</a></li>
          <li class="list-group-item"><a href ="#">About</a></li>
          <li class="list-group-item"><a href ="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h2>
          Account
        </h2>
        <ul class="list-group">
          <li class="list-group-item"><a href ="#">My Account</a></li>
          <li class="list-group-item"><a href ="#">Orders</a></li>
          <li class="list-group-item"><a href ="#">Products</a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>
