.prodct_image{
    height: 360px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.addToCart:hover{
    color:blue !important;
    transition:600ms ease-in-out;
    cursor: pointer;
}
#orderDetails ul li h4{
    color:black,
    

}