<ul class="nav nav-tabs">
    <li class="nav-item active">
        <button class="nav-link" (click) = "onChangeOption(1)">Shipping</button>
    </li>
    <li class="nav-item" (click) = "onChangeOption(2)">
        <button  class="nav-link" id="photosBtn">Payment</button>
    </li>
</ul>

<div class="mt-4">
    <div id="address" *ngIf="options ==1">
        <app-shipping>

        </app-shipping>
    </div>
    <div id="payment" *ngIf="options ==2">
        <app-payment>
            
        </app-payment>
    </div>
</div>